# Specify files to be managed by Git LFS
# Unreal Engine asset files
*.uasset filter=lfs diff=lfs merge=lfs -text
# Unreal Engine map files
*.umap filter=lfs diff=lfs merge=lfs -text
# Audio files
*.wav filter=lfs diff=lfs merge=lfs -text
*.mp3 filter=lfs diff=lfs merge=lfs -text
# Texture files
*.png filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.jpeg filter=lfs diff=lfs merge=lfs -text
*.tga filter=lfs diff=lfs merge=lfs -text
*.bmp filter=lfs diff=lfs merge=lfs -text
# 3D model files
*.fbx filter=lfs diff=lfs merge=lfs -text
*.obj filter=lfs diff=lfs merge=lfs -text
*.3ds filter=lfs diff=lfs merge=lfs -text
*.blend filter=lfs diff=lfs merge=lfs -text
# Animation files
*.anim filter=lfs diff=lfs merge=lfs -text
*.animset filter=lfs diff=lfs merge=lfs -text
*.animsimple filter=lfs diff=lfs merge=lfs -text
*.animsequence filter=lfs diff=lfs merge=lfs -text
# Miscellaneous
*.ini filter=lfs diff=lfs merge=lfs -text
*.txt filter=lfs diff=lfs merge=lfs -text
# Add more file extensions as needed
